*{
    background-color:#f5f8ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav-bar section style start */

.main-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height:71px;
    margin:auto;
    padding: 0 20px;
    margin-top: 20px;
    margin-left: 200px;
}
.nav-bar{
    display: flex;
    align-items: center;
    margin:auto;
    gap:20px;
    margin-right: 200px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color:black;
}
nav li a:hover{
    color:blue;
}
.card-icon{
    width:15px;
    height:15px;
}

/* Banner section style start */

.main-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: 20px 150px;
}
img{
    width:100%;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-justify: auto;
    width:570px;
    height:299px;
    margin-left: 20px;
}
.title-color{
    color: #E95A08;
}
.banner-title{
    font-size:2.5rem;
    text-align: left;
    margin-right: 21px;
}
.banner-description{
    margin-top:10px;
    color:#cbcdd3;
}
.hero-flowers{
    width:570px;
    height:299px;
}

 /* Plants Section card style start */

 .Plants-card{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1140px;
    margin:auto;
    gap:10px;
 }
 .plants-container{
    text-align: center;
    margin-right: 121px;
    margin-top:50px;
    margin-bottom: 30px;
 }
 .plants-color{
    color:#E95A08;
 }
 .plants-description{
    color:#cbcdd3;
    margin-top: 10px;
    font-size: 22px;
 }
 .plants-title{
    font-size: 3rem;
 }
 .cards-details-center{
    text-align:center;
    line-height: 30px;
 }
 .btn{
    background-color: #E95A08;
    color:white;
    border:none;
    padding:2px;
    width:270px;
    height:50px;
    margin-top: 10px;
    font-size: small;
 }
 /* Plants Section card style END */



 /* Plants lover Section style start */

 .plants-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    margin: auto;
   margin-top:150px;
 }
 .plants-lover-content{
    margin-left:80px;
    
    margin:

 }
 .plants-lover-img img{
    width:540px;
    height:597px;
 }
 .plants-lover-title{
    font-size: 50px;
 }
 .plants-unorder-description li{
    margin-top: 30px;
    font-size: 22px;
    color:#c7c9cf;
 }
  /* Plants lover Section style End */

  .deal-img-card-section{
    display:flex;
    justify-content: center;
    align-items: center;

    width:1140px;
    margin:auto;
  }
  .left-card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 753px;
    height: 400px;

  }
  .card{
    
  }

  .right-card{


  }

  .larg-card{
    

  }

   /* join section start style */
   .join-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    height:533px;
    justify-content: center;
    margin: auto;
    background-image: url('assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


   }
   .join-section-title{
    font-size: 50px;
     background-color: #217790;
    color:white;
   
   }

   .btn-join-section{
    width:186px;
    height:50px;
    background-color: #E95A08;
    border:none;
    color:white;
    font-size: 13px;
   
  
   }
   .input{
    width: 644px;
    height: 50px;
    border:none;
    outline: none;
    padding: 10px 15px;
   
    
   }
   .join-content{
    margin-top:50px;
   }
   
   



